<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.koelntourismus.de/wp-content/uploads/2018/02/Cocktail.jpg);">
  <div class="container">
    <h1>Wow these <strong>Cocktails</strong></h1>
    <p>Explore a world of cocktails! Missing your favorite? Add it now!</p>
  </div>
</div>