<%= render 'components/banner' %>

<div class="container ">
  <div class="cards m-5">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<#%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail), class: 'btn btn-white' %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center m-5">
    <%= link_to 'Add a new Cocktail', new_cocktail_path, class: 'btn btn-strong' %>
  </div>
</div>


