<div class="container my-5">
  <h1 class="m-5">Add an Ingredient</h1>
  <%= simple_form_for [@cocktail, @dose], html: { class: "form-group m-5"} do |f| %>
    <%= f.association :ingredient, prompt: 'Choose ingredient', input_html: {class: "form-control"} %>
    <%= f.input :description, label: 'How much?', prompt: 'Choose dose?', collection: ['1cl', '2cl', '3cl', '4cl', '6cl', 'Dash of', 'Fill up'], input_html: {class: "form-control"} %>
    <%= f.submit 'Add ingredient', class: 'btn btn-strong mt-3' %>
    <% end %>
</div>
