<h1>Add an Ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, prompt: 'Choose ingredient' %>
  <%= f.input :description, label: 'How much?', prompt: 'Choose dose?', collection: ['1cl', '2cl', '3cl', '4cl', '6cl', 'Dash of', 'Fill up'] %>
  <%= f.submit 'Add ingredient' %>
<% end %>